{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'image-picker/image-picker.css' %}">
<style>
body, html {
    height: 95%;
    width: 100%;
}
#edit_photo {
    width: 100%;
    height: 100%;
}

.drag-drop{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #73888e;
    border-radius: 10px;
    border: dashed 2px white;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14pt;
    transition: .5s background-color, .5s color;
    font-family:inherit;
    object-fit: cover;
}

.drag-drop.dragover{
    background-color: #95b2b8;
    color: white;
}

.drag-drop.uploading{
    background-color: #86b1ba;
    color: white;
}
img {
    width: auto;
    height: auto;
}
.thumbnail>img {
    display: inline;
    max-width: 200px;
}

.modal-lg {
    width: fit-content;
}
</style>
{% endblock %}

{% block content %}
    <div id="edit_photo" class="edit-photo-modal">
        <form id="drag_files" class="drag-drop" method="post" action="{% url 'upload_image' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="file" name="image_input" id="files" multiple />
            <div class="drag-files-label">
                Drag or select an image to begin listing!
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="card_selector_modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select correctly labeled cards.</h4>
                </div>
                <div class="modal-body">
                    <form action="/" method="post">
                        <select multiple="multiple" class="image-picker show-labels" id="modal-card-select">
                        </select>
                        <input type="button" name="submit_form" id="submit_form_id" value="Submit" onclick="submitSelections()" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'image-picker/image-picker.js' %}"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script>
var droppedFiles;
var isAdvancedUpload = true;

function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
}


function submitSelections() {
    const selected_ids = $('select').data('picker').selected_values();
    let data = [];
    selected_ids.forEach( function(value) {
            data.push({'id': parseInt(value)});
    })

    fetch( "{% url 'confirm_selected' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        mode: 'same-origin',
        body: JSON.stringify(data)
    })
        .then(response => {
            console.log(response.json());
        })
        .catch(error => {
            console.error(error);
        });
}


function card_selector_modal(card_selector_results) {
    card_selector_results.forEach(function(element) {
        console.log("{% static '' %}" + element[0]);
        let option = document.createElement('option');
        option.setAttribute('data-img-src', "{% static '/media/' %}" + element[0]);
        option.setAttribute('value', element[2]);
        option.setAttribute('data-img-label', "<p class='center' style='text-align:center;-webkit-text-stroke-width:thin;'>" + element[1] + "</p>");
        option.text = element[1];
        document.getElementById('modal-card-select').appendChild(option);
    });
    $('#modal-card-select').imagepicker({
        show_label: true,
    });
    $("#card_selector_modal").modal();
}



function add_image_to_div(image_url, image_name) {
    let new_div = document.createElement("div");
    new_div.className = "col-sm-3 container";

    let new_img = document.createElement("img");
    new_img.src = "{% static '' %}" + image_url;
    new_img.title = image_name;
    new_img.id = image_name + '-id';

    let new_img_label = document.createElement("label");
    new_img_label.textContent = image_name;
    new_img_label.for = image_name+'-id';

    document.getElementById('output_images_target').appendChild(new_div);
    new_div.appendChild(new_img_label).appendChild(new_img);

}

function replace_file_uploader_with_button() {
    document.getElementById('edit_photo').innerHTML = '' +
        '<div class="row">' +
        '<div class="col-sm-1">' +
        '<button type="button" class="btn btn-success" onclick="window.location.reload();">Choose a new image</button>' +
        '</div>' +
        '</div>';
}

(function (document, window, index) {
         const csrftoken = getCookie('csrftoken');

         isAdvancedUpload = function () {
            var div = document.createElement('div');
            return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
         }();

         if (isAdvancedUpload)
         {
             var form = document.getElementById("drag_files");
             var input = form.querySelector('input[type="file"]');

             // needed for ajax upload
             var ajaxFlag = document.createElement('input');
             ajaxFlag.setAttribute('type', 'hidden');
             ajaxFlag.setAttribute('name', 'ajax');
             ajaxFlag.setAttribute('value', 1);
             form.appendChild(ajaxFlag);

             ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (event) {
                 form.addEventListener(event, function (e) {
                     // preventing the unwanted behaviours
                     e.preventDefault();
                     e.stopPropagation();
                 });
             });

             ['dragover', 'dragenter'].forEach(function (event) {
                 form.addEventListener(event, function () {
                     form.classList.add('dragover');
                 });
             });

             ['dragleave', 'dragend', 'drop'].forEach(function (event) {
                 form.addEventListener(event, function () {
                     form.classList.remove('dragover');
                 });
             });

             form.addEventListener('drop', function (e) {
                 droppedFiles = e.dataTransfer.files; // the files that were dropped

                 if (droppedFiles.length > 0)
                 {
                     form.querySelector(".drag-files-label").innerHTML = droppedFiles[0].name;
                     var event = document.createEvent('HTMLEvents');
                     event.initEvent('submit', true, false);
                     form.dispatchEvent(event);
                 }
             });

             form.addEventListener('submit', function (e) {
                 if (form.classList.contains('uploading'))
                     return false;

                 form.classList.add('uploading');

                 if (isAdvancedUpload)
                 {
                     e.preventDefault();

                     // gathering the form data
                     var ajaxData = new FormData(form);
                     if (droppedFiles) {
                         console.log(droppedFiles[0]);
                         ajaxData.append('image_input', droppedFiles[0]);
                     }

                     // ajax request
                     var ajax = new XMLHttpRequest();
                     ajax.open(form.getAttribute('method'), form.getAttribute('action'), true);

                     ajax.onload = function () {
                         console.log('ajax onload');
                         form.classList.remove('uploading');
                         if (ajax.status >= 200 && ajax.status < 400) {
                            console.log(ajax.response);


                            let response_data = JSON.parse(ajax.response);
                            let response_image_urls = response_data.data;
                            console.log(response_image_urls);

                            let result = [];
                            Array.prototype.forEach.call(response_image_urls, function(_image) {
                                result.push([_image.image_input, _image.image_name, _image.id]);
                            });
                            card_selector_modal(result);
                         }
                         else {
                             console.log('whoops');
                             alert('Error. Please, contact the webmaster!');
                         }
                     };

                     ajax.send(ajaxData);
                 }
             });
         }
    }(document, window, 0));
</script>
{% endblock %}